<h1 mat-dialog-title>Activity Edit</h1>
<div mat-dialog-content>
        <form [formGroup]="activityEditForm">
                <div fxLayoutAlign="center stretch" fxLayout="column" fxLayoutGap="8px" class="container">
                        <mat-form-field>
                                <input matInput required formControlName="name" placeholder="Name">
                        </mat-form-field>

                        <mat-form-field>
                                <input matInput formControlName="description" placeholder="Description">
                        </mat-form-field>
                        <mat-checkbox formControlName="absence"> Absence <mat-icon>work_off</mat-icon>
                        </mat-checkbox>
                        <mat-checkbox formControlName="fillday"> Fill Day <mat-icon>work</mat-icon>
                        </mat-checkbox>
                        <mat-checkbox formControlName="reduce"> Reduce <mat-icon>thumb_down</mat-icon>
                        </mat-checkbox>
                        <div fxLayout="row" fxLayoutAlign="center stretch" fxLayout.lt-md="column-reverse"
                                fxLayoutGap="8px" class="container">
                                <button fxFlex="50" mat-button color="warn" type="button"
                                        (click)="onNoClick()">Close</button>
                                <button fxFlex="50" mat-button color="primary" [disabled]="activityEditForm.invalid"
                                        type="button" (click)="updateActivity()">Save</button>
                        </div>
                </div>
        </form>
</div>