<mat-label class="mat-h1">Choose your Role and Activity</mat-label>
<form [formGroup]="modalForm" (ngSubmit)="save()">
    <div fxLayout="column" fxLayoutAlign="center none" fxLayout.lt-sm="column" fxLayoutGap="8px" class="container">
        <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select matNativeControl formControlName="roleControl" required>
                <mat-option *ngFor="let role of roles" [value]="role">
                    {{role.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Activity</mat-label>
            <mat-select matNativeControl formControlName="activityControl" required>
                <mat-option *ngFor="let activity of selectableActivities" [value]="activity">
                    {{activity.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <span style="text-align: center">
            <span class="mat-h3">Calculated Break Minutes: </span>
            <span class="mat-h3">{{data.workDay.calculatedBreakMinutes}}</span>
        </span>
        <mat-form-field>
            <mat-label>Add additional break minutes</mat-label>
            <input matInput type="tel" placeholder="MM" formControlName="addBreakControl" (keydown)="onKeyDown($event)">
            <mat-icon matSuffix>schedule</mat-icon>
        </mat-form-field>
        <button mat-button color="primary" type="submit" [disabled]="!modalForm.valid">Save</button>
        <button mat-button color="primary" type="button" (click)="continue()">Continue</button>
    </div>
</form>