<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="datasource" name="ROLE-Table" matSort>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let role "> {{role.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let role"> {{role.name}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let role"> {{role.description}} </td>
  </ng-container>
  <ng-container matColumnDef="activities">
    <th mat-header-cell *matHeaderCellDef>Activities</th>
    <td mat-cell *matCellDef="let role" id="activityCell">
      <mat-list-item *ngFor="let activity of role.activities">
        {{activity.name}}
      </mat-list-item>
    </td>
    <!-- <td mat-cell *matCellDef="let role">{{role.activities.join(', ')}}</td> -->
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let role">
      <button type=button mat-icon-button color="primary" fxHide fxShow.lt-xl (click)="editRoleDialog(role)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button type="button" color="primary" fxHide.lt-xl (click)="editRoleDialog(role)">
        Edit
      </button>
      <button type=button mat-icon-button color="warn" fxHide fxShow.lt-xl (click)="deleteRole(role)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-button type="button" color="warn" fxHide.lt-xl (click)="deleteRole(role)">
        Delete
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="roles?roles.length:0" [pageSize]="5" [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>