<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-working-day-timesheet-heading" jhiTranslate="timesheetApp.workingDay.home.createOrEditLabel">Create or edit a Working Day</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="timesheetApp.workingDay.hours" for="field_hours">Hours</label>
                    <input type="number" class="form-control" name="hours" id="field_hours"
                           formControlName="hours"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="timesheetApp.workingDay.employee" for="field_employee">Employee</label>
                    <select class="form-control" id="field_employee" name="employee" formControlName="employee">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption.id === editForm.get('employee').value?.id ? editForm.get('employee').value : employeeOption" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="timesheetApp.workingDay.day" for="field_day">Day</label>
                    <select class="form-control" id="field_day" name="day" formControlName="day">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dayOption.id === editForm.get('day').value?.id ? editForm.get('day').value : dayOption" *ngFor="let dayOption of days; trackBy: trackDayById">{{dayOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
