<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="workingDay">
            <h2><span jhiTranslate="timesheetApp.workingDay.detail.title">Working Day</span> {{workingDay.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="timesheetApp.workingDay.hours">Hours</span></dt>
                <dd>
                    <span>{{workingDay.hours}}</span>
                </dd>
                <dt><span jhiTranslate="timesheetApp.workingDay.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="workingDay.employee">
                        <a [routerLink]="['/employee-timesheet', workingDay.employee?.id, 'view']">{{workingDay.employee?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="timesheetApp.workingDay.day">Day</span></dt>
                <dd>
                    <div *ngIf="workingDay.day">
                        <a [routerLink]="['/day-timesheet', workingDay.day?.id, 'view']">{{workingDay.day?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/working-day-timesheet', workingDay.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
