<h1 mat-dialog-title>Role Creation</h1>
<div mat-dialog-content>
        <form [formGroup]="rolemappingForm" (ngSubmit)="onSubmit()">
                <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="8px" class="container">
                        <mat-form-field>
                                <input matInput required formControlName="name" placeholder="Name">
                        </mat-form-field>
                        <mat-form-field>
                                <input matInput formControlName="description" placeholder="Description">
                        </mat-form-field>
                        <button mat-button color="primary" [disabled]="rolemappingForm.invalid"
                                type="submit">Create</button>
                        <button mat-button color="warn" type="button" (click)="onNoClick()">Close</button>
                </div>
        </form>
</div>