<h1 mat-dialog-title>Role-Activity Mapping</h1>
<div mat-dialog-content>
  <form [formGroup]="mappingForm" (ngSubmit)="onSubmit()">
    <div fxLayoutAlign="center stretch" fxLayout="column" fxLayoutGap="8px" class="container">
      <mat-form-field>
        <mat-label>List of Roles</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role" (click)="updateName(role.name)">
            {{role.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>List of Activities</mat-label>
        <mat-select multiple formControlName="activities">
          <mat-option *ngFor="let activity of activities" [value]="activity">
            {{activity.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button color="primary" [disabled]="mappingForm.invalid" type="submit">Create</button>
      <button mat-button color="warn" type="button" (click)="onNoClick()">Close</button>
    </div>
  </form>
</div>