td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 0px;
}

.mat-header-cell,
.mat-sort-header-arrow {
  color: #002f5d;
}

mat-card {
  display: inline;
}

mat-card-subtitle {
  float: left;
  line-height: 24px;
}

.mat-title {
  margin-left: 10px;
}

.timeCard {
  box-shadow: none;
}

jhi-year-month-select,
jhi-year-week-select {
  margin-left: 8px;
  margin-right: 8px;
}

#filterCard {
  padding-top: 16px;
}

#pdfBtn {
  position: absolute;
  bottom: 10px;
}

#searchDate {
  position: absolute;
  bottom: -10px;
  left: 140px;
}

@media only screen and (min-width: 1280px) {
  mat-card {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  mat-card-subtitle {
    width: 150px;
  }
}

@media only screen and (max-width: 767px) {
  #pdfBtn {
    position: relative;
    left: 8px;
    bottom: 8px;
  }

  #searchDate {
    bottom: 8px;
  }
}

@media only screen and (max-width: 599px) {
  mat-card-subtitle {
    float: left;
  }

  mat-card > div:nth-child(2) > div > mat-card:nth-child(4),
  mat-card > div:nth-child(1) > div > mat-card:nth-child(4) {
    margin-left: 16px;
    margin-right: 16px;
  }

  mat-title {
    float: none;
    margin-left: 10px;
  }

  mat-card {
    padding: 8px;
  }

  /*timetable*/

  #timetable {
    padding: 0px;
  }

  table {
    border-radius: 8px;
  }

  .mat-row {
    height: auto;
  }

  td.mat-cell {
    padding: 5px 5px;
  }

  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type,
  th.mat-header-cell:first-of-type {
    padding-left: 20px;
    padding-right: 15px;
  }

  #searchDate {
    left: 120px;
    bottom: -8px;
  }
}
