<div [formGroup]="parts">
    <input #hours inputmode="numeric" minlength="0" maxLength="2" placeholder="HH" formControlName="hours"
        (input)="_handleInput()" (focus)="hours.select()" (keydown)="onKeyDown($event)" (keypress)="onKeyPress($event)"
        required>
    <span>&#58;</span>
    <input #minutes inputmode="numeric" minlength="0" maxLength="2" placeholder="MM" (focus)="minutes.select()"
        formControlName="minutes" (input)="_handleInput()" (keydown)="onKeyDown($event)" formControlName="minutes"
        #minutes required>
</div>