div {
  display: flex;
  // width: fit-content;
}

input {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  font: inherit;
  text-align: center;
  width: 100%;
}
span,
input {
  display: block;
  opacity: 0;
  transition: opacity 200ms;
}
:host.floating span,
:host.floating input {
  opacity: 1;
}
