<table mat-table [dataSource]="workingEntries">
  <ng-container matColumnDef="workDay.date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element; let i = index" [asRowSpan]="asRowSpan" [rowIndex]="i" colName="Date">
      {{element.workDay.date | date:'MM.dd.yy'}}
    </td>
  </ng-container>

  <ng-container matColumnDef="Total Worktime">
    <th mat-header-cell *matHeaderCellDef> Total </th>
    <td mat-cell *matCellDef="let element; let i = index" [asRowSpan]="asRowSpan" [rowIndex]="i" colName="Date">
      {{secondsToHHMM(element.workDay.totalWorkingMinutes * 60)}}
    </td>
  </ng-container>

  <ng-container matColumnDef="Break Time">
    <th mat-header-cell *matHeaderCellDef> Break </th>
    <td mat-cell *matCellDef="let element; let i = index" [asRowSpan]="asRowSpan" [rowIndex]="i" colName="Date">
      {{secondsToHHMM(element.workDay.totalBreakMinutes * 60)}} </td>
  </ng-container>

  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef> Start </th>
    <td mat-cell *matCellDef="let element"> {{element.start | date:'HH:mm'}} </td>
  </ng-container>

  <ng-container matColumnDef="end">
    <th mat-header-cell *matHeaderCellDef> End </th>
    <td mat-cell *matCellDef="let element"> {{element.end | date:'HH:mm'}} </td>
  </ng-container>

  <ng-container matColumnDef="Sum">
    <th mat-header-cell *matHeaderCellDef> Difference </th>
    <td mat-cell *matCellDef="let element"> {{sumDate(element.start, element.end)}}
    </td>
  </ng-container>
  <ng-container matColumnDef="Activity">
    <th mat-header-cell *matHeaderCellDef> Activity </th>
    <td mat-cell *matCellDef="let element"> {{element.activity.name}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>