<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<div ng-app = 'myApp'>
<table>
    <tr>
        <td><mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
              
                <mat-card-content>
                  <p>
                    The test
                  </p>
                </mat-card-content>
                <mat-card-actions >
                   <button mat-button ng-click="" value=''>nsew</button> 
                  <!-- <a href='./test'>test1</a> -->
                </mat-card-actions>
        </mat-card>
        </td>
    </tr>
    <div ng-view></div>

</table>
</div>