.text-center {
  text-align: center;
}

img {
  height: 44px;
  margin: 3px 12px 6px 8px;
}

mat-toolbar {
  position: fixed;
  top: 0px;
  z-index: 2;
}

h1 {
  font-size: 24px;
}

.mat-drawer-container {
  width: 100%;
}

.sidenav-container-contents {
  padding: 8px;
}
