<mat-toolbar color="primary">
  <mat-toolbar-row>
      <div fxShow="true" fxHide.gt-sm="true"> 
          <button mat-icon-button>
              <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
            </button>
      </div>
    <h1>{{title}}</h1>
    <span class="fill-remaining-space text-center">{{messagesService.messages[0]}}</span>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="subtitle">
      <span style="font-size: 12px;">{{subtitle}}</span>
    </mat-toolbar-row>
</mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="'side'">
      <mat-nav-list>
        <ng-content select="a [mat-list-item]"></ng-content>
        <div fxShow="true" fxHide.gt-sm="true"> 
          <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Close</a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 100vh;">
        <ng-content select="content"></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>