.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.text-center {
  text-align: center;
}

.sidenav-container {
  flex: 1;
  height: calc(100% - 64px);
}

img {
  height: 44px;
  margin: 3px 12px 6px 8px;
}

mat-toolbar {
  position: relative;
  z-index: 2;
}

h1 {
  font-size: 24px;
}

@media (max-width: 599px) {
  .sidenav-container {
    height: calc(100% - 56px);
  }
}

.sidenav-container-contents {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}
