<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="datasource">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let activity "> {{activity.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let activity"> {{activity.name}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let activity"> {{activity.description}} </td>
  </ng-container>

  <ng-container matColumnDef="absence">
    <th mat-header-cell *matHeaderCellDef>Is Absence</th>
    <td mat-cell *matCellDef="let activity">
      <mat-checkbox disabled [ngModel]="activity.absence"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="fillDay">
    <th mat-header-cell *matHeaderCellDef>Is Fill Day</th>
    <td mat-cell *matCellDef="let activity">
      <mat-checkbox disabled [ngModel]="activity.fillDay"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="reduce">
    <th mat-header-cell *matHeaderCellDef>Is Reduced</th>
    <td mat-cell *matCellDef="let activity">
      <mat-checkbox disabled [ngModel]="activity.reduce"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let activity">
      <button mat-button color="primary" (click)="editActivityDialog(activity)">Edit</button>
      <button mat-button color="warn" (click)="deleteActivity(activity)">Delete</button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="activities?activities.length:0" [pageSize]="5" [pageSizeOptions]="[5, 10, 15, 20]">
</mat-paginator>