<div>
    <h2 id="page-heading">
        <span jhiTranslate="timesheetApp.dayOfWeek.home.title">Day Of Weeks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-day-of-week-timesheet" [routerLink]="['/day-of-week-timesheet/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="timesheetApp.dayOfWeek.home.createLabel">
            Create new Day Of Week
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="dayOfWeeks?.length === 0">
        <span jhiTranslate="timesheetApp.dayOfWeek.home.notFound">No dayOfWeeks found</span>
    </div>
    <div class="table-responsive" *ngIf="dayOfWeeks?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="timesheetApp.dayOfWeek.name">Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dayOfWeek of dayOfWeeks ;trackBy: trackId">
                <td><a [routerLink]="['/day-of-week-timesheet', dayOfWeek.id, 'view' ]">{{dayOfWeek.id}}</a></td>
                <td>{{dayOfWeek.name}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/day-of-week-timesheet', dayOfWeek.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/day-of-week-timesheet', dayOfWeek.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'day-of-week-timesheet', { outlets: { popup: dayOfWeek.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
