<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="weeklyWorkingHours">
            <h2><span jhiTranslate="timesheetApp.weeklyWorkingHours.detail.title">Weekly Working Hours</span> {{weeklyWorkingHours.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="timesheetApp.weeklyWorkingHours.hours">Hours</span></dt>
                <dd>
                    <span>{{weeklyWorkingHours.hours}}</span>
                </dd>
                <dt><span jhiTranslate="timesheetApp.weeklyWorkingHours.startDate">Start Date</span></dt>
                <dd>
                    <span>{{weeklyWorkingHours.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="timesheetApp.weeklyWorkingHours.endDate">End Date</span></dt>
                <dd>
                    <span>{{weeklyWorkingHours.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="timesheetApp.weeklyWorkingHours.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="weeklyWorkingHours.employee">
                        <a [routerLink]="['/employee-timesheet', weeklyWorkingHours.employee?.id, 'view']">{{weeklyWorkingHours.employee?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/weekly-working-hours-timesheet', weeklyWorkingHours.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
