<as-navbar #asNavbar [title]="'Timesheet'">
    <a mat-list-item (click)='login()' *ngIf="!isAuthenticated()" (click)="asNavbar.closeOnLtMd()">
        <mat-icon mat-list-icon style="color: #002F5D;">note</mat-icon> Login
    </a>
    <a mat-list-item routerLink="/" *ngIf="isAuthenticated()" (click)="asNavbar.closeOnLtMd()">
        <mat-icon mat-list-icon style="color: #008478;">home</mat-icon> Home
    </a>
    <a *jhiHasAnyAuthority="'ROLE_ADMIN'" routerLink="admin/employee-overview" (click)="asNavbar.closeOnLtMd()"
        mat-list-item>
        <mat-icon mat-list-icon style="color: #002F5D;">people</mat-icon> Employee Overview
    </a>
    <a *jhiHasAnyAuthority="'ROLE_ADMIN'" routerLink="admin/activity-config" (click)="asNavbar.closeOnLtMd()"
        mat-list-item>
        <mat-icon mat-list-icon style="color: #8A8D8F;">device_hub</mat-icon> Activity Configuration
    </a>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae molestie massa, nec convallis urna. Aliquam
    scelerisque elit in arcu aliquet, vitae vestibulum nulla sodales. Proin non suscipit mauris. Sed vel feugiat ante.
    Sed interdum iaculis pharetra. Praesent convallis, tortor quis malesuada molestie, leo nulla dictum enim, sit amet
    ornare lacus orci ut arcu. Proin nec pellentesque risus. Mauris urna est, mollis quis ex sed, vestibulum tincidunt
    est. Duis ac neque magna. Phasellus facilisis, mi vitae feugiat aliquet, dolor ligula scelerisque ex, vulputate
    convallis eros neque at nulla. Morbi id ipsum at ex lacinia varius. Sed condimentum sem lobortis libero mattis, eget
    consectetur mauris tincidunt. Sed quis leo pharetra, dignissim leo et, bibendum tellus. Curabitur hendrerit sit amet
    tortor in accumsan. Sed a convallis nisl. Curabitur maximus tincidunt egestas.

    Etiam eu varius libero. Quisque scelerisque vestibulum sapien id placerat. Vestibulum elementum sagittis nibh, ut
    ultricies ex lacinia sed. Proin hendrerit, sem eu malesuada dapibus, arcu nisi vehicula felis, at ultricies ex risus
    a nulla. Etiam iaculis eros et nibh venenatis vestibulum. Praesent porta arcu ac purus consequat, pellentesque
    pharetra enim ultricies. Phasellus nec turpis sit amet risus gravida laoreet.

    In hac habitasse platea dictumst. Quisque scelerisque urna nulla, et accumsan leo molestie in. Praesent sed orci
    tincidunt, vestibulum eros eu, tristique libero. Nulla facilisi. Proin libero enim, euismod a lectus commodo, dictum
    egestas nibh. Fusce tristique, lorem quis consectetur pretium, quam lectus iaculis urna, a accumsan magna purus quis
    felis. Nullam tortor felis, iaculis sed venenatis ullamcorper, maximus nec ligula. Maecenas venenatis felis augue,
    ut tempus sem scelerisque sed. Donec rhoncus tempus urna eget volutpat. Mauris ullamcorper sapien vel urna
    vestibulum, id sagittis urna tristique. Nunc cursus rutrum pretium. In feugiat nunc ut ex tristique eleifend.

    Donec et nisl ac orci viverra ultrices molestie quis tellus. Aliquam nec ante a lectus fringilla condimentum. Nam
    tempor elit vel neque auctor molestie. Nulla venenatis nunc ac erat efficitur, nec tincidunt velit consectetur.
    Nullam dui ante, molestie a diam eget, sollicitudin euismod magna. Donec id nisl euismod, commodo nibh et, hendrerit
    urna. Pellentesque vulputate, orci non tincidunt condimentum, lacus lectus placerat lorem, id condimentum justo
    magna a ligula. Etiam nec neque tortor. Proin euismod sagittis est ut dapibus. Nullam iaculis arcu quis sapien
    convallis, eget laoreet magna mattis. Pellentesque gravida, mauris et vestibulum varius, diam sapien vehicula
    lectus, vel dapibus est diam ut dui. Vivamus et nunc eget nisl imperdiet auctor. Suspendisse molestie convallis
    libero eu maximus. Donec congue id nisi in tristique. Praesent porta tellus nisl, id porttitor felis viverra nec. In
    hac habitasse platea dictumst.

    Integer malesuada eget massa sed placerat. Fusce ornare purus nec venenatis finibus. Etiam nibh purus, imperdiet
    eget facilisis ut, tempor non lorem. Aliquam iaculis erat ac dolor ultrices mattis in vel sem. Donec sollicitudin
    convallis nunc, nec malesuada ligula venenatis a. Donec vel elementum augue. Nulla urna leo, ultrices eu velit et,
    condimentum vehicula erat. Vivamus mollis aliquam felis, pharetra cursus augue accumsan et. Vivamus vitae lectus
    tortor. Aliquam nec sem vitae ligula pellentesque imperdiet. Phasellus feugiat eros libero. Lorem ipsum dolor sit
    amet, consectetur adipiscing elit. Sed malesuada tortor eu tellus faucibus mollis. Nam ac vehicula ex, eu pretium
    nisi. Donec volutpat sodales urna.

    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam ac turpis
    finibus, tristique diam maximus, tincidunt elit. Ut ultrices nisl non dictum tincidunt. Mauris sit amet libero sit
    amet nulla consectetur gravida quis id dolor. Phasellus sed efficitur turpis. In ut odio sollicitudin, sagittis
    libero et, lobortis ante. Sed porttitor, lacus eu consectetur gravida, mauris dolor aliquet erat, vitae volutpat
    tortor felis non eros. Sed imperdiet tincidunt porttitor. Pellentesque tincidunt, ex ut varius euismod, erat urna
    accumsan elit, nec dictum sapien sem nec mi. Nullam tristique enim neque, vitae egestas ex cursus non. Sed ut sapien
    nec nulla ullamcorper scelerisque.

    Sed libero nunc, imperdiet mollis nisi sed, euismod viverra massa. Vestibulum ante ipsum primis in faucibus orci
    luctus et ultrices posuere cubilia Curae; Mauris non porta mauris. Integer gravida a est in placerat. Morbi tempus
    ut orci vitae faucibus. Curabitur sit amet nulla tempus, pellentesque lacus mollis, dapibus magna. In quis ligula
    sit amet magna suscipit elementum. Mauris ultrices elit pulvinar, posuere metus ac, dignissim justo. Phasellus
    pellentesque et lacus et consectetur. Duis blandit tristique nulla ut commodo. Nulla dignissim felis dapibus erat
    vestibulum, in tempus lacus auctor. Aliquam egestas metus vitae accumsan fermentum. Aenean ac diam pulvinar, feugiat
    quam in, suscipit ante. Curabitur quis nulla vitae ex finibus luctus. Pellentesque pellentesque fermentum leo sed
    tempor. Suspendisse potenti.

    Fusce a iaculis felis, eu molestie arcu. Aliquam non tellus felis. Proin commodo vulputate diam at egestas.
    Phasellus sit amet pretium lorem. Integer a gravida nunc. Class aptent taciti sociosqu ad litora torquent per
    conubia nostra, per inceptos himenaeos. Sed quis neque eget metus porta venenatis eget eget libero. Aliquam sodales
    euismod ex, a cursus nulla consequat sit amet. Curabitur cursus ante ac lobortis suscipit. Maecenas molestie luctus
    metus quis aliquet. Aliquam erat volutpat. Proin volutpat libero faucibus egestas dictum. Curabitur turpis erat,
    imperdiet id elit eget, dictum aliquet neque. In auctor dignissim commodo.

    In elementum condimentum ante, vitae suscipit neque placerat vel. Praesent rhoncus sollicitudin ex, vitae tincidunt
    lectus aliquet rhoncus. Nulla imperdiet eros nec fringilla pellentesque. Curabitur ut cursus nisi, cursus mattis
    eros. Aliquam tristique, nulla sed dictum aliquet, lacus elit hendrerit nisi, sed luctus tortor dui nec ex. Integer
    id dapibus nisi. Maecenas euismod accumsan est non placerat. Pellentesque nec diam in massa congue cursus ac ut mi.
    Ut a tempor turpis. In volutpat nisi eu tempus tincidunt. Integer condimentum sagittis consectetur. Nullam non
    mollis ligula, in rutrum tortor. Pellentesque id consectetur velit, ut semper dui. Aliquam nisi sapien, ornare nec
    ultrices at, rutrum fermentum purus. Aenean elementum turpis a turpis commodo congue. Maecenas in rhoncus mauris.

    Cras eu volutpat eros. Donec in velit sit amet nibh tincidunt accumsan. Nunc consectetur ut erat quis varius. Orci
    varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce ornare scelerisque elit
    vitae luctus. Suspendisse tristique purus ac ex fermentum, eget imperdiet quam placerat. Nullam faucibus turpis in
    sollicitudin bibendum. Ut hendrerit, tellus eget congue porttitor, ante sem venenatis dui, ut porta nisi risus in
    enim. Nullam eros elit, molestie ac consectetur vitae, cursus eu ipsum.
</as-navbar>