<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-work-break-timesheet-heading" jhiTranslate="timesheetApp.workBreak.home.createOrEditLabel">Create or edit a Work Break</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="timesheetApp.workBreak.minutes" for="field_minutes">Minutes</label>
                    <input type="number" class="form-control" name="minutes" id="field_minutes"
                           formControlName="minutes"/>
                    <div *ngIf="editForm.get('minutes').invalid && (editForm.get('minutes').dirty || editForm.get('minutes').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('minutes').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('minutes')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="timesheetApp.workBreak.employee" for="field_employee">Employee</label>
                    <select class="form-control" id="field_employee" name="employee" formControlName="employee">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption.id === editForm.get('employee').value?.id ? editForm.get('employee').value : employeeOption" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="timesheetApp.workBreak.workDay" for="field_workDay">Work Day</label>
                    <select class="form-control" id="field_workDay" name="workDay" formControlName="workDay">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="workDayOption.id === editForm.get('workDay').value?.id ? editForm.get('workDay').value : workDayOption" *ngFor="let workDayOption of workdays; trackBy: trackWorkDayById">{{workDayOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
