<form [formGroup]="yearMonthForm">
    <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="8px">
        <mat-form-field fxFlex="50">
            <mat-label>Year</mat-label>
            <mat-select [value]="changeYear" formControlName="yearForm">
                <mat-option *ngFor="let year of years" [value]="year">
                    {{year}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="50">
            <mat-label>Month</mat-label>
            <mat-select [value]="changeMonth" formControlName="monthForm">
                <mat-option *ngFor="let month of months" [value]="month">
                    {{month}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button type="button" color="primary" (click)="resetFilter()"
            [disabled]="resetButtonDisabled? true : null">Reset</button>
    </div>
</form>