.form-group {
  margin-bottom: 10px;
  padding: 0px 5px;
  text-align: center;
}

.form-row {
  margin: 0px 0px;
  //padding: 0px 5px;
}

#btnArea {
  padding: 0px 5px;
}

label,
mat-label {
  //padding-left: 5px;
  margin: 8px 0px;
  display: block;
}

select {
  margin-top: 8px 0px;
}

.btn-primary {
  margin: 10px 0px;
  width: 100%;
}

.ngb-tp {
  display: inline-flex;
  align-items: center;
}

.btn.btn-link {
  padding: 0px;
}

@media only screen and (max-width: 880px), (min-device-width: 768px) and (max-device-width: 1024px) {
}
