<!-- too implement Timepicker
<form [formGroup]="timeForm" (ngSubmit)="onSubmit()">  -->
  <div class="form-row">
      <!-- <form class="form-inline"> -->
          <div class="form-group col-6" style="float: none; margin: 0 auto;">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
          </div>
      <!-- </form>   -->
        <!-- <pre>Model: {{ model | json }}</pre> -->
        <!-- <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
        
        <hr/>
        
        <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>
        <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button>
        <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>
        
        <hr/>
        
        <pre>Month: {{ date.month }}.{{ date.year }}</pre>
        <pre>Model: {{ model | json }}</pre> -->
  </div>
 
  <div class="form-row">
    <div class="form-group col-6">
        <label>Start Time</label>
        <div class="ngb-tp"><ngb-timepicker [(ngModel)]="startTime"></ngb-timepicker></div>
        <!-- <hr>
        <pre>Selected time: {{time | json}}</pre> -->
        <!-- <input pattern="(([01]\d)|(2[0-3])):[0-5]\d" class="form-control" formControlName="startTime" required> -->
    </div>
    <div class="form-group col-6">
        <label>End Time</label>
        <div class="ngb-tp"><ngb-timepicker [(ngModel)]="endTime"></ngb-timepicker></div>
        
        
        <!-- <hr>
        <pre>Selected time: {{time | json}}</pre> -->
        <!-- <input type="time" class="form-control" formControlName="endTime" required> -->
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-6">
        <mat-label>Role</mat-label>
        <select matNativeControl class="form-control" formControlName="roleControl">
          <!-- <option label="--select role--"></option>
          <mat-option [value]="roles">
            {{roles}}
          </mat-option> -->
          <option label="--select activity--"></option>
          <option value="activity1">activity1</option>
          <option value="ativity2">activity2</option>
          <option value="ativity3">activity3</option>
        </select>
    </div>
    <div class="form-group col-6">
        <mat-label>Activity</mat-label>
        <select matNativeControl class="form-control" formControlName="activityControl">
          <option label="--select activity--"></option>
          <option value="activity1">activity1</option>
          <option value="ativity2">activity2</option>
          <option value="ativity3">activity3</option>
        </select>
    </div>
  </div>
  <div class="form-row" id="btnArea">
      <button class="btn btn-primary col-6" style="float: none; margin: 0 auto;" type="submit" [disabled]="!timeForm.valid">Save</button>
      <ng-content #name select="button"></ng-content>
  </div> 
<!-- </form> -->


