<form [formGroup]="timeForm" (ngSubmit)="onSubmit()">
  <div fxLayoutAlign.lt-xl="center stretch" fxLayout.lt-xl="column" fxLayoutGap="8px" class="container">
    <mat-form-field fxFlex="auto">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-button color="primary" type="button" (click)="selectToday()">Today</button>

    <div fxLayoutAlign.xs="center stretch" fxLayout.xs="column" fxLayoutGap="8px">
      <mat-form-field class="time" fxFlex="auto">
        <mat-label>Start Time</mat-label>
        <as-time-input formControlName="startTime" required></as-time-input>
        <mat-icon matSuffix>access_time</mat-icon>
      </mat-form-field>

      <mat-form-field class="time" fxFlex="auto">
        <mat-label>End Time</mat-label>
        <as-time-input formControlName="endTime" required></as-time-input>
        <mat-icon matSuffix>access_time</mat-icon>
      </mat-form-field>
    </div>

    <div fxLayoutAlign="center stretch" fxLayout.xs="column" fxLayoutGap="8px">
      <mat-form-field fxFlex="50">
        <mat-label>Role</mat-label>
        <mat-select matNativeControl formControlName="roleControl" required>
          <mat-option *ngFor="let role of roles" [value]="role">
            {{role.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="50">
        <mat-label>Activity</mat-label>
        <mat-select matNativeControl formControlName="activityControl" required>
          <mat-option *ngFor="let activity of selectableActivities" [value]="activity">
            {{activity.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-stroked-button color="primary" type="submit" [disabled]="!timeForm.valid">Save</button>

  </div>
</form>