<div class="row">
    <div class="col-4">
        Target: {{targetTime}}
    </div>
    <div class="col-4">
        Actual: {{actualTime}}
    </div>
    <div class="col-4">
        Difference: {{diffTime}}
    </div>
</div>
<div class = "container scroll scrollbar-primary">
    <table class="table table-hover table-responisve-sm force-overflow">
    <thead>
        <tr>
            <th>Date</th>
            <th>Start</th>
            <th>End</th>
            <th>Sum</th>
            <th>Activity</th>
            <th>Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let workingEntry of workingEntries; let i = index" >
        <td *ngIf="isDifferentWorkingEntryDateBefore(i)">{{workingEntry.workDay.date | date:'dd.MM.yy'}}</td>
        <td *ngIf="!isDifferentWorkingEntryDateBefore(i)" class="border-0"></td> 
        <td>{{workingEntry.start | date:'HH:mm'}}</td>
        <td>{{workingEntry.end | date: 'HH:mm'}}</td>
        <td>{{sumDate(workingEntry.start, workingEntry.end)}}</td>
        <td>working</td>
        <td>location</td>
        <td>
            <div class="btn-group">
                <button type="submit"
                        [routerLink]="['/working-entry-timesheet', workingEntry.id, 'edit']"
                        class="btn btn-primary btn-sm">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>
                <button type="submit"
                        [routerLink]="['/', 'working-entry-timesheet', { outlets: { popup: workingEntry.id + '/delete'} }]"
                        replaceUrl="true"
                        queryParamsHandling="merge"
                        class="btn btn-danger btn-sm">
                    <fa-icon [icon]="'times'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
    </table>
</div>
<div class="row" id="timeToday">
    <div class="col">
        Worktime today: <label>{{todayTime}}</label>       
    </div>     
</div>