<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="workDay">
            <h2><span jhiTranslate="timesheetApp.workDay.detail.title">Work Day</span> {{workDay.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="timesheetApp.workDay.date">Date</span></dt>
                <dd>
                    <span>{{workDay.date}}</span>
                </dd>
                <dt><span jhiTranslate="timesheetApp.workDay.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="workDay.employee">
                        <a [routerLink]="['/employee-timesheet', workDay.employee?.id, 'view']">{{workDay.employee?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/work-day-timesheet', workDay.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
