<div fxLayout="row" fxLayoutAlign="center stretch" fxLayout.lt-lg="column" fxLayoutGap="8px" class="container">
  <mat-card fxFlex="50">
    <mat-card-subtitle>Categories</mat-card-subtitle>
    <jhi-role-table></jhi-role-table>
    <mat-card-actions>
      <button mat-button color="primary" (click)="openRoleDialog()">Add Category</button>
      <button mat-button color="primary" (click)="openMappingDialog()">Activity Mapping</button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex="50">
    <mat-card-subtitle>Activies</mat-card-subtitle>
    <jhi-activity-table></jhi-activity-table>
    <mat-card-actions>
      <button mat-button color="primary" (click)="openActivityDialog()">Add Activity</button>
    </mat-card-actions>
  </mat-card>
</div>