/* ==========================================================================
Main page styles
========================================================================== */

#btnMatcardContent {
  text-align: center;
  margin-top: 9vh;
}

.mat-card-actions,
.mat-card-content,
.mat-card-subtitle {
  display: block;
  margin-bottom: 8px;
}

@media only screen and (max-width: 960px) {
  #addCard {
    margin-bottom: 0px !important;
  }
}
