<div *ngIf="employee">

    <mat-toolbar>
        <span>Employee {{employee.id}} </span>
        <button type="submit" (click)="previousState()" mat-raised-button color="primary">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>

        <!-- <button type="button" [routerLink]="['/employee-timesheet', employee.id, 'edit']" mat-raised-button
            color="primary">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button> -->


    </mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="center stretch" fxLayout.xs="column" fxLayoutGap="8px" class="container">
        <mat-card fxFlex="50">
            <mat-card-subtitle>Name</mat-card-subtitle>
            <mat-card-content>{{employee.user.firstName + ' ' + employee.user.lastName}}</mat-card-content>
        </mat-card>

        <mat-card fxFlex="50">
            <mat-card-subtitle>Is Employed</mat-card-subtitle>
            <mat-card-content>{{"Yes"}}</mat-card-content>
        </mat-card>
    </div>

    <div id="tableCard" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="8px" class="container">
        <mat-card>
            <mat-card-header
                style="font-style: oblique;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: larger;">
                Weekly
                Working Hours</mat-card-header>

            <mat-card-content>
                <table mat-table [dataSource]="employeeWeekly" matSort>

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td mat-cell *matCellDef="let element">{{element.id}}</td>
                    </ng-container>

                    <ng-container matColumnDef="hours">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Hours</th>
                        <td mat-cell *matCellDef="let element"> {{element.hours}} </td>
                    </ng-container>

                    <ng-container matColumnDef="start">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start</th>
                        <td mat-cell *matCellDef="let element"> {{element.startDate | date:'dd.MM.yy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="end">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>End</th>
                        <td mat-cell *matCellDef="let element"> {{element.endDate | date:'dd.MM.yy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let role">
                            <button type=button mat-icon-button color="accent" fxHide fxShow.lt-md
                                (click)="editWeeklyDialog(role)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-button type="button" color="accent" fxHide.lt-md
                                (click)="editWeeklyDialog(role)">
                                Edit
                            </button>
                            <button mat-icon-button color="warn" fxHide fxShow.lt-sm (click)="deleteRow(role)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-button color="warn" fxHide.lt-sm (click)="deleteRow(role)">
                                Delete
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['id', 'hours', 'start', 'end','actions']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['id', 'hours', 'start', 'end','actions'];">
                    </tr>
                </table>
                <mat-paginator [length]="employeeOverviewWeek?employeeOverviewWeek.length:0" [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 15, 20]">
                </mat-paginator>
            </mat-card-content>

            <mat-card-actions>
                <button mat-flat-button color="primary" (click)="openWeeklyDialog()">Add Time Details</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>