<mat-card>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="datasource" class="mat-elevation-z1">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element"><a
                    [routerLink]="['/employee-timesheet', element.id, 'view' ]">{{element.id}}</a> </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element"> {{element.user.firstName + ' ' + element.user.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="isEmployed">
            <th mat-header-cell *matHeaderCellDef>Is Employed</th>
            <td mat-cell *matCellDef="let element"> {{element.isEmployed}} </td>
        </ng-container>

        <ng-container matColumnDef="weeklyWorkingHours">
            <th mat-header-cell *matHeaderCellDef>Weekly Working Hours</th>
            <td mat-cell *matCellDef="let element">
                {{element.activeWeeklyWorkingHours ? element.activeWeeklyWorkingHours.hours : ''}} </td>
        </ng-container>

        <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef>Balance</th>
            <td mat-cell *matCellDef="let element">{{element.balance}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['id', 'name', 'isEmployed', 'weeklyWorkingHours', 'balance']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'isEmployed', 'weeklyWorkingHours', 'balance'];"></tr>
    </table>
    <mat-paginator [length]="employees?employees.length:0" [pageSize]="20" [pageSizeOptions]="[20, 35, 50]">
    </mat-paginator>
</mat-card>